<h1>Add an Album</h1>

<form action="/albums" method="post">
  <label for="title">Album Name:</label>
  <input id="title" name="title" type="text">


  <button type="submit">Add Album</button>
</form>
