<h1>Add an Artist</h1>

<form action="/artist" method="post">
  <label for="name">Album Name:</label>
  <input id="name" name="name" type="text">


  <button type="submit">Add Artist</button>
</form>
